{
  "extends": [ "axway/env-node"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "script"
  },
  "globals": {
    "__filename": false,
    "__dirname": false
  },
  "rules": {
    "strict": ["error", "global"]
  }
}
